@{
    ViewBag.Title = "Home Page";
}

<h1 style="text-align:center;">Paddle Sport</h1><hr />
                                                <p style="font-size:20px;"><b>At Paddle Sport, we have sports halls at centres across the country, most of which are kitted out to offer badminton at certain times of the day. To get started, all you’ll need is some trainers and your usual workout gear. You can either hire a badminton racket and shuttlecocks in centre or bring your own.</p></b>
<img style="padding-left:50px;"src="~/Images/court.jpg"  width="1000" height="600"/>
<div class="row">
    <div style="padding-left:120px" class="col-md-6 col-lg-5 col-xl-4">



        <div class="card" style="width:350px; margin-left:5px;">
            <h2><b>Total Body Workout</b></h2>
            <img src="~/Images/bodyworkout.jpg" width="300" />



            <div class="card-body">
                <p>
                    While you’re lunging, diving, running and getting your heart pumping, playing a game
                    of badminton can help you burn around 450 calories an hour. The varied movements provide a powerful
                    cardio workout by engaging the entire body, including the hamstrings, quads, calves and your core.
                </p>



            </div>



        </div>
    </div>






    <div style="padding-left:150px;"class="col-md-6 col-lg-5 col-xl-4">
        <div class="card" style="width:360px; margin-left:5px;">
            <h2>
                <b>
                    Socialising



                </b>
            </h2>



            <img src="~/Images/socializing.jfif" width="350" />

            <div class="card-body">
                <p>
                    For adults, we recommend taking 30 minutes of exercise, five times a week.
                    Due to increased home and work life responsibilities, some of us may be guilty of not doing as much physical activity as we should. Badminton is a fun and flexible sport that can be enjoyed around your busy schedule. Our courts are available to hire during the day, in the evenings and on weekends.
                    You can even use your workout as an opportunity to socialise and catch-up with friends and family.
                </p>




            </div>
        </div>
    </div>


    @*<div class="col-md-6 col-lg-5 col-xl-4">
        <div class="card" style="width:360px; margin-left:5px;">
            <h2>
                <b>
                    Mental Health



                </b>
            </h2>



            <img src="~/Images/mental.jfif" width="350" />

            <div class="card-body">
                <p>
                    Taking part in any form of regular physical activity helps to release our natural feel good happy hormones, endorphins. In turn, this can help reduce depression, anxiety and stress and improve our overall mood and sleep. Talking to other players and rallying in singles or doubles means that badminton is a social sport. This can be particularly beneficial in combating loneliness among older players.
                </p>




            </div>
        </div>
    </div>*@

</div>